# Local terraform state & plan files
*.tfstate
*.tfstate.*
*.tfplan
*.plan
crash.log

# Secret variables file
terraform.tfvars
*.auto.tfvars

# Terraform working directory
.terraform/
.terraform.lock.hcl
